/* Header */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    height: 100px;
}

#navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    padding-top: 15px;
}

    #navbar a{
    text-decoration: none;
    color: black;
}

#navbar a:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.fa-th{
    color: #696969;
    font-size: 1.4em;
}

#tabs :hover{
    text-decoration: none;
}

#k{
    border-radius: 30px;
    margin-top:-10px;
   
}

/* Main */

#logo-containter{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#search-container{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    
}

.fa-search{
    color: #D3D3D3;
}

#searchbar{
    display: flex;
    border: 1px solid #D3D3D3;
    padding: .6vh 1vw;
    border-radius: 30px;  
    align-items: center; 
}

#searchbar:hover{
box-shadow: 1px 1px 5px #D3D3D3;
}

input{
    width: 500px;
    border: none;
    padding: 0px 10px;
}

input:focus{
    outline: none;
}

#button-container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
  
}

.submit_button{
    padding: 10px 20px;
    margin: 0px 5px;
    border: 1px solid transparent;
    background-color: #fafafa;

}

.submit_button:hover{
    border-radius: 3px;
    border: 1px solid #D3D3D3;
    cursor: pointer;
}

#NHS-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    
    
}

#NHS {
    text-decoration: none;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    
    
}

main{
    min-height: calc(100vh - 100px - 76px);
}

/* Footer */

#country{
border-top: 1px solid #D3D3D3;
border-bottom: 1px solid #D3D3D3;
padding:10px 20px;
color: #696969;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.85em;
}

#footer_flex-box{
    display: flex;
    justify-content: space-between;
}

#footer_flex-box ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 350px;
    padding: 10px 0px;

}

#footer_flex-box a{
    text-decoration: none;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;

}
footer{
    background-color: rgb(242,242,242);
}

/* Mobile responsiveness */

@media screen and (max-width:750px){
    input{
        width: 70vw;
        border: none;
    }
    #country{
        text-align: center;
        padding:10px 0px;
    }
    #footer_flex-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}